@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

p {
  font-family: "Ubuntu", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.video-stats {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
